<?xml version="1.0"?>
<configuration>
    <contextName>myplugin</contextName>
    <appender name="myplugin" class="ch.qos.logback.core.FileAppender">
        <File>log/myplugin.log</File>
        <Append>false</Append>
        <BufferedIO>false</BufferedIO>
        <ImmediateFlush>true</ImmediateFlush>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%date %-5level %logger{35} - %msg%n</Pattern>
        </layout>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="myplugin" />
    </root>
</configuration>